{% extends 'receptionist/receptionistnav.html' %}
{% block content %}
<!-- ALLAPPOINTMENTS -->
{% if "username" in request.session %}
<div class="container" style="margin-top: 50px;">
<h1 class="text-center">All Appointments</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient Username</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Date Of Appointment</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    {% for a in allobj %}
      <tr>
        <th scope="row">1</th>
        <td>{{ a.user }}</td>
        <td>{{ a.Doctor }}</td>
        <td>{{ a.Date }}</td>
        <td>{{ a.status }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}