{% extends 'patient/patientnav.html' %}
{% block content %}
<div class="content">
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">Payment Invoices</h5>
            <p class="card-text">Payment Date: 23/11/15 </p>
            <p class="card-text">Mode Of payment: Paypal </p>
            <p class="card-text">Reason Of Payment: </p>
            <a href="#" class="btn btn-primary">View More</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}