{% extends 'hr/hrnav.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="content">
    <div class="text-center">
        <strong>HR Login Form</strong>
    </div>
    <br>
    <div class="container">
        <form action="{% url 'afterHRLF' %}" method="POST">
            {% csrf_token %}
            {{ hrLoginForm|crispy }}
            <input type="submit" value="submit" class="btn btn-success">
            <div style="color: red;">{{ error }}</div>
        </form>
    </div>
</div>
{% endblock %}